    nav {
        display: block;
        text-align: center;
        font-size: 14px;
        position: relative;
    }
    
    body {
        text-align: center;
    }
    
    img {
        position: relative;
    }
    
    p {
        font-size: 14px;
        font-family: Lucida Grande;
        color: #3DA675;
    }
