<!DOCTYPE html>
<head>
    <link type="text/css" rel="stylesheet" href="personal_site.css"/>
    <link rel="stylesheet" href="animate.min.css"/>
    <title>Angie Coleman</title>
</head>

<body>
<!-- I'm a comment. You won't actually see me on the web page.
     You should write your header in the line below me! -->
<h1 class="animated infinite bounce">Angie Coleman</h1>

<nav>
  <a href="/photos">Photos</a> |
  <a href="/art">Art</a> |
  <a href="/music-tech">Music</a> |
  <a href="/about">About Me</a>
</nav>

<video width="320" height="240" controls>
  <source src="https://youtu.be/UoUEQYjYgf4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<br>

<img src="http://static1.squarespace.com/static/5522f58ce4b0f8d5ff84ed5f/t/55b88298e4b0c7cc03710ae9/1438155418112/?format=2500w" height="250" width="400">

<br>

<p>This is my test website for training and bootcamp purposes! I really like catz, music, and laying in the park.</p>

</body>